/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
public/js
public/js/app.js
resources/sass
/public/fonts/vendor/element-ui/lib/theme-chalk/element-icons.ttf
/public/fonts/vendor/element-ui/lib/theme-chalk/element-icons.woff
