html, body {

    background-color: #fff;
    color: #636b6f;
    font-weight: 400;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}
.full-width{
    width: 100%;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.busacmabirdeneme{
    cursor: pointer;
    justify-content: center;
    text-align: center;
    background-color: white;
    color:black
}
.busacmabirdeneme:hover{
    cursor: pointer;
    justify-content: center;
    text-align: center;
    background-color: green;
    color:white
}
.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.shadow {
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    box-shadow: 0 0 6px #000;
}
.m-b-md {
    margin-bottom: 30px;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:7%;
    left: 7%;
    width: 85%;
    height: 80%;
}
html{ overflow-y: scroll;}
#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    width: 100%;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #2ceb54;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}
#left_nav_content{
    border: 5px solid #28A745;
    border-top-color: #343a40;
}
